

ul {
  list-style-type: none;  
  margin: 0px;
}

.navAdjust {
  margin-left: 2%;
  margin-right: 2%;
}

.endorsementBox {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
}

.endorsement {
  /* box-shadow: 12px 12px 25px rgb(0, 0, 70); */
  /* border: 1px solid rgb(58, 58, 190); */
  width: 30vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 15px;

}

.quote-author {
  
  font-size: calc(1vh + 7px);
}

#dropdown-basic {
  background-color: white;
}

#jumbotron {
  background-image: url('./assets/images/dogJumboFlipped.jpg');
  height: 500px;
}

#mask {
  background-color: rgba(0, 0, 0, 0.6);
}

#mask2 {
  background-color: rgba(0, 0, 0, 0.8);
}

#mask2:hover {
  color: rgb(142, 142, 216);
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* transition: background-color 200ms linear; */
  transition: color 400ms linear;
}

.dropdown-toggle::after {
  border: 0px;
  content: none;
}

.App {
  /* background-color:#282c34; */
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-background {
  background-color: #282c34;
  color: white;
}

.nav-title {
  margin: 0px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
