

ul {
  list-style-type: none;  
  margin: 0px;
}

.hoverBlue:hover {
  color: rgb(142, 142, 216);
  transition: color 500ms ease-out;
}

.grayscale {
  width: min-content;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.programHeader {
  padding-top: 2%;
  padding-bottom: 1%;
}

/* .programBox {
  margin-bottom: 15%;
} */

.cardBox {
  width: 40vmin;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cardImg {
  width: 35vmin;
  border-radius: 25px;
}

.navAdjust {
  margin-left: 2%;
  margin-right: 2%;
}

.endorsementBox {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
}

.endorsement {
  font-weight: bold;
  /* box-shadow: 12px 12px 25px rgb(0, 0, 70); */
  /* border: 1px solid rgb(58, 58, 190); */
  width: 30vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 15px;

}

.wideEndorsement {
  width: 100%;
}

.wideEndorsement img {
  border-radius: 25px;
  margin: auto;
  display: block;
  max-width:49vmin;
  max-height:84vmin;
  width: auto;
  height: auto;
}

.endorser {
  font-weight: normal;
}

.quote-author {
  
  font-size: calc(1vh + 7px);
}

#dropdown-basic {
  background-color: white;
}

#jumbotron {
  background-image: url('./assets/images/dogJumboFlipped.jpg');
  background-size: cover;
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-position: 40% 0%;
  height: 92vh;
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.mask2 {
  background-color: rgba(0, 0, 0, 0.8);
}

.mask2:hover {
  color: rgb(142, 142, 216);
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* transition: background-color 200ms linear; */
  transition: color 400ms linear;
}

.jumboTextbox {
  width: 60vw;
  margin-left: 10%;
  margin-right: 0%;
}

#jumboHeader {
  padding-bottom: 5%;
}

#jumboSubheader {
  font-size: 1.3em;
  padding-bottom: 1%;
}

#jumboBtnBox {
 padding-left: 25%;
}


.consultBtn {
  margin-top: 4%;
 }

.dropdown-toggle::after {
  border: 0px;
  content: none;
}

.modalBtn {
  margin: 4% 20% 0% 20%;
  background-color: rgb(69, 69, 126);
  border: none;
}

.modalBtn:hover {
  background-color: rgb(96, 96, 166);
}

.App {
  /* background-color:#282c34; */
  text-align: center;
  margin-bottom: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .nav-background {
  background-color: #282c34;
  color: white;
}

.nav-title {
  margin: 0px;
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blockquote {
  padding: 60px 80px 40px;
  position: relative;
}
.blockquote p {
  font-family: "Utopia-italic";
  font-size: 35px;
  font-weight: 700px;
  text-align: center;
}

/*blockquote p::before {
  content: "\f095"; 
  font-family: FontAwesome;
 display: inline-block;
 padding-right: 6px;
 vertical-align: middle;
font-size: 180px;
}*/

.blockquote:before {
position: absolute;
font-family: 'FontAwesome';
top: 0;

content:"\f10d";
font-size: 200px;
color: rgba(0,0,0,0.1);
 
}

.blockquote::after {
  content: "";
  top: 20px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  border-bottom: 3px solid #bf0024;
  height: 3px;
  width: 200px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otro-blockquote{
font-size: 1.4em;
width:60%;
margin:50px auto;
font-family:Open Sans;
font-style:italic;
color: #555555;
padding:1.2em 30px 1.2em 45px;
border-left:8px solid rgb(69, 69, 126);
line-height:1.6;
position: relative;
background:#EDEDED;
}

.otro-blockquote::before{
font-family:Arial;
content: "\201C";
/* color:#78C0A8; */
color: rgb(69, 69, 126);
font-size:4em;
position: absolute;
left: 10px;
top:-10px;
}

.otro-blockquote::after{
content: '';
}

.otro-blockquote span{
display:block;
color:#333333;
font-style: normal;
font-weight: bold;
margin-top:1em;
}

.quoteText {
  font-size: calc(1em+1vmin);
}

.quoteAuthor {
  font-size: .8em;

}

.quoteImg {
  width: 100%;
}

.contactFormBtn {
  border-color:rgb(69, 69, 126, 0);
  background-color:rgb(111, 111, 174);
}
.contactFormBtn:hover {
  border-color:rgb(69, 69, 126, 0);
  background-color:rgb(142, 142, 216);
}

.callBtn {
  width: fit-content;
  margin-top: 6%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-color:rgb(69, 69, 126);
  color:rgb(142, 142, 216);
  background-color: rgb(65, 105, 225, .5)
}

.callBtn:hover {
  border-color:rgb(97, 97, 167);
  color:rgb(167, 167, 238);
  background-color: rgba(30, 28, 55, 0.6);

}

.mobileContactBox {
  display: none;
}

#jumboBigscreen {
  display: block;
}

#jumboSmallscreen {
  display: none;
  margin: 10%;
  padding-bottom: 33%;
}

.contactBg {
  background-color:rgb(142, 142, 216)
}

#bigQuoteBody {
  display: block;
}

#smallQuoteBody {
  display: none;
}

@media screen and (max-width: 990px) {
  #smallQuoteBody {
    display: block;
  }
  #bigQuoteBody {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .cardBox {
    min-width: 60%;
  }
}

@media screen and (max-width: 650px) {
  #jumbotron {
    height: 63vh;
  }
  .otro-blockquote{
    width: 90%;
  }
  .quoteText {
    font-size: 1em;
  }
  #jumboHeader {
    font-size: 2.1em;
    margin-bottom: 25%;
    padding-bottom: 0%;
    /* margin-top: 3%; */
  }
  #jumboSubheader {
    font-size: 1em;
  }
  #jumboBigscreen {
    display: none;
  }
  #jumboSmallscreen {
    display: block;
    margin-top: 5%;
  }
  .mobileContactBox {
    display: block;
    margin-top: 5%;
  }
  .cardImg {
    min-width: 100%
  }
  .cardBox {
    min-width: 60%;
  }
}

@media screen and (max-width: 422px) {
  .quoteText {
    font-size: calc(.9em);
  }
}
